:root {
    --red: #7177b1;
    --green: #55c79d;
}


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}


.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    height: 100vh;
    width: 100vw;
    background-color: rgb(21, 16, 49);
}