
button {
    background-color: transparent;
    color: rgba(255,255,255,.8);
    border: none;
    display: inline-block;
    width: 7rem;
    cursor: pointer;
}


.circular-progress {
    position: relative;

    height: 25rem;
    width: 25rem;
    background-color: rgb(148, 148, 32);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
}

.valueContainer {
    position: relative;
    font-size: 5rem;
    font-weight: bold;
    color: #32376e;
}

.TimeButton__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.SettingsButton__cointainer {
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12.5rem;
    cursor: pointer;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, .1);
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5px;
    color: white;
}